body {
    margin: 0100px;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;

    justify-content: space-between;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    align-content: center;
   
    
}

.nav-item {
    flex: 1; 
    font-size: 15px;
    font-weight: bold;
    color: #333;
    border-left: 1px solid black; 
}



.logo {
    font-size: 30px;
}







.con1{
    width: 800px;
    height: 923px;
}
.con1 h1{
    margin-left: 48px;

}
.con1 p{
    margin-left: 48px;
}
.con1 img{
    width: 750px;
    height: 500px;
    margin-top: 80px;
}
.con2{
    height: 700px;
    width: 400px;
}
.con2 img{
    width: 400px;
    height: 300px;
}
.con{
    display: flex;
}
